* {
    margin: 0;
}

:root {
    --main-color: magenta;
}


.bar {
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: var(--main-color);
    height: 60px;
}

.bar-item1 {
    flex-basis: 15%;
}

.bar-item2 {
    flex-basis: 40%;
}

.bar-item3 {
    flex-basis: 15%;
}

.bar-item4 {
    flex-basis: 15%;
}

.bar-item5 {
    flex-basis: 15%;
}


img[class="user"] {
    height: 35px;
    width: auto;
}


img[class="cart"] {
    height: 35px;
    width: auto;
}
img[class="home"] {
    height: 35px;
    width: auto;
}
img[class="tele"] {
    height: 35px;
    width: auto;
}

img:hover {
    height: 50px;
}